body {
  background-color: #fff;
  color: #333;
  font-family: Arial, sans-serif;
}

h1, h2 {
  color: #fff;
  text-align: start;
}

h1 {
  font-weight: 300;
}

.container {
  display: grid;
  grid-template-columns: 100px 80px;
  padding-left: 4px;
  padding-right: 4px;
  width: 180px;
  margin: 0 auto 20px;
  background: #eef;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

input, select {
  background: none;
  border: 0;
  color: #333;
  font-size: 13px;
  font-weight: bold;
  outline: none;
  width: 100%;
}

input {
  padding: 10px;
}

select {
  padding: 15px;
}

header {
  background-color: #354ea2;
  margin-bottom: 15px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between ;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.logo {
  color: #eef;
  font-size: 24px;
  font-weight: bold;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

nav a {
  color: #eef;
  text-decoration: none;
  margin-left: 20px;
  font-size: 18px;
}

nav a:hover {
  color: #fff;
}
